<!DOCTYPE html>
<html lang="en" translate="no">

<head>
    <%- include('layout/head') %>
</head>

<body class="walletBody">
    <div id="apiWallet">
        <div class="container">
            <aside>
                <div class="logo">
                    <img src="<%- cdn %>/assets/img/logo3.svg" alt="">
                </div>
                <div class="tabs">
                    <div class="tab tab1 active" rel="tab1">
                        <a href="javascript:void(0)">
                            <i class="oo1"></i>
                            <i class="oo2"></i>
                            <span class="imgbox tab_add">
                                <img src="<%- cdn %>/assets/img/icon_tab_add.svg" alt="">
                            </span>
                            <h3><span class="WL_TAB_TOPUP">儲值</span></h3>
                        </a>
                    </div>
                    <!-- <div class="tab tab2" rel="tab2">
                        <i class="oo1"></i>
                        <i class="oo2"></i>
                        <span class="imgbox">
                            <img src="<%- cdn %>/assets/img/icon_tab_add.svg" alt="">
                        </span>
                        <h3><span>購買</span></h3>
                    </div> -->
                </div>
            </aside>
            <div class="tab_container">
                <div class="loginBar">
                    <div id="langSelect" class="languageBox">
                        <img src="<%- cdn %>/assets/img/icon_language.svg" alt="" srcset="">
                        <span class="lang_text">語言</span>
                        <ul id="langListItem" class="langListItem">
                            <ul id="landList">
                                <li class="active">
                                    简中
                                </li>
                                <li>
                                    English
                                </li>
                                <li>
                                    日本語
                                </li>
                                <li>
                                    한국어
                                </li>
                                <li>
                                    Tiếng Việt
                                </li>
                            </ul>
                        </ul>
                    </div>
                    <div>
                        <span class="imgbox">
                            <img src="<%- cdn %>/assets/img/icon_member.svg" alt="">
                        </span>
                        <span id="userID">abc12345@gmail.com</span>
                        <a href="logout" id="logOutBTN" class="WL_LOGOUT">登出</a>
                    </div>
                </div>
                <div class="scroll_bg outside">
                    <!-- tab1 op-->
                    <div id="tab1" class="tab_content">
                    
                        <form role="form" id="form1" action="" method="post" target="_self" class="form-payment form_result"
                            onsubmit="return check_submit1();">
                            <!-- <div class="form_list reg">
                                                <h4 class="WL_RETURN_TITLE">儲值結果</h4>
                                            </div> -->
                            <div class="result_message">
                                <img id="Notify_Icon" src="<%- cdn %>/assets/img/icon_success.svg" alt="">
                                <span id="Notify_Title">恭喜！儲值成功</span>
                            </div>
                            <div class="result_info"></div>
                    
                            <div class="form_bt btn_center">
                                <a id="confirm" href="home?activeTab=tab1" class="btn btn_blue WL_BACK_HOME_BTN">回總覽</a>
                            </div>
                            <input type="hidden" name="data" value="" id="f_data">
                        </form>
                    
                    </div>
                    <!-- tab1 ed-->

                </div>
                
            </div>
            <a href="mailto:service@kiwipin.com.tw" class="email_info">service@kiwipin.com.tw</a>
        </div>
    </div>

    <script>

        function renderInfo(json) {
            var dataStatus = json.PAY_STATUS;
            const dataSUCCESS = {
                "WL_AMOUNT_TITLE": json.AMOUNT,
                "WL_COID_TITLE": json.COID,
                "WL_DATE_TITLE": json.CreateTime_at,
                "WL_RMSG_CHI_TITLE": json.RMSG_CHI
            }
            const dataERROR = {
                "WL_AMOUNT_TITLE": String(json.AMOUNT),
                "WL_COID_TITLE": json.COID,
                "WL_RMSG_CHI_TITLE": json.RMSG_CHI
            }
            if (json.PAY_STATUS == "S") {
                $('#Notify_Icon').attr("src", "<%- cdn %>/assets/img/icon_success.svg");
                $("#Notify_Title").removeClass("WL_NOTIFY_TITLE_S WL_NOTIFY_TITLE_F").addClass('WL_NOTIFY_TITLE_S');
                resultINFO(dataSUCCESS, dataStatus);
                $('.result_info').removeAttr('id', "ERROR_INFO");

            } else {
                $('#Notify_Icon').attr("src", "<%- cdn %>/assets/img/icon_error.svg");
                $("#Notify_Title").removeClass("WL_NOTIFY_TITLE_S WL_NOTIFY_TITLE_F").addClass('WL_NOTIFY_TITLE_F').css({ 'color': 'var(--error)' });
                resultINFO(dataERROR, dataStatus);
                $('.result_info').addClass('error_info');
                $('.btn').show();
            }

            Object.keys(json).forEach(function (k) {
                var eleName = '#' + k;
                if ($(eleName).length <= 0) {
                    appendElement_Input('#form', k, json[k]);
                } else {
                    $(eleName).val(json[k]);
                }
            });
            
            $('#userID').text(json.U_EMAIL);
            
            initTranslation(json)//翻譯
        }


        //印資料
        function resultINFO(data, status) {
            $(".result_info").empty();

            Object.entries(data).forEach(([key, value]) => {
                const AMOUNT_S = `<span class="amount_ss">${formatCurrency(value)}</span><b class="WL_POINT"></b>`;
                const AMOUNT_F = `<span class="amount_ff">${value}</span><b class="WL_POINT"></b>`;

                console.log(AMOUNT_F);
                const TimeTXT = formatTime(value);

                const htmlINFO = `
                    <div class="item">
                        <h1 class="title ${key}"></h1>
                        <h1 class="content">${(status == "F" && key == "WL_AMOUNT_TITLE") ? AMOUNT_F :
                        (status == "S" && key == "WL_AMOUNT_TITLE") ? AMOUNT_S :
                            (status == "S" && key == "WL_DATE_TITLE") ? TimeTXT : value
                    }</h1>
                    </div>`;
                $(".result_info").append(htmlINFO);
            });
        }


        function appendElement_Input(ele, name, value) {
            var textHtml = '<input type="hidden" name="' + name + '"';
            textHtml += ' value="' + value + '"';
            textHtml += '/>';
            $(ele).append(textHtml);
        }

        function check_submit() {
            //鎖住畫面
            $.LoadingOverlay("show", {
                image: "",  // 不用預設圖片
                custom: $("<div>", { class: "custom-spinner" })[0],
                background: "rgba(255,255,255,0.8)"
            });
            document.getElementById('form').submit();
        }

        //千元標註
        function formatCurrency(number) {
            if (isNaN(number)) return null;
            return parseFloat(number).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
        //時間標註
        function formatTime(tt) {
            const dateTime = tt;
            const [datePart, timePart] = dateTime.split(" ");
            const formattedDateTime = `${datePart} <b class="timetxt">${timePart}</b>`;
            return formattedDateTime;
        }

        //code_cpoy
        $('.result_info').on('click', '.code_copy', async function () {
            var contentText = $('.result_info .item:first-child').find('.content');
            var originalText = contentText.text(); //儲值密碼

            try {
                //複製
                await navigator.clipboard.writeText(originalText);
                contentText.text('複製成功！');

                //恢復
                setTimeout(function () {
                    contentText.html(originalText + '<span class="code_copy"><img src="<%- cdn %>/assets/img/icon_copy.svg" alt="copy"/></span>');
                }, 1000);
            } catch (error) {
                console.error("複製失敗：", error);
            }
        });
    </script>

    <script>
        initFunction({ "Tpye": "RETURN",  "U_EMAIL": "yourweb210@gmail.com", "data": "eyJNU0dfVFlQRSI6IjAxMTAiLCJQQ09ERSI6IjMwMDAwMCIsIkNJRCI6IkMwMDAwMTAwMDAwMTIiLCJDT0lEIjoiS1cyMDI0MTAxNzAyNDQxNiIsIlJSTiI6IktQMjAyNDEwMTcxMDQ0MTc5ODE4ODAiLCJDVUlEIjoiVVNEIiwiUEFJRCI6IkNPUEtXUDAxIiwiQU1PVU5UIjoiMSIsIk9SREVSX1RZUEUiOiJNIiwiUEFZX1NUQVRVUyI6IkYiLCJSQ09ERSI6IjMwMDEiLCJQQVlfUkNPREUiOiIzOTAzIiwiTUlEIjoiTTEwMDAwMDEiLCJCSUQiOiIiLCJNRU1PIjoiIiwiTVdfVVJMIjoiIiwiTEFOR1VBR0UiOiIiLCJHQU1FX05BTUUiOiIiLCJQQUlEX05BTUUiOiIiLCJQUk9EVUNUX05BTUUiOiJLSVdJIFx1OTMyMlx1NTMwNSAxMDAgXHU5ZWRlIiwiUFJPRFVDVF9JRCI6IiIsIkJPTlVTX0lEIjoiIiwiVVNFUl9BQ0NUSUQiOiIyNCIsIlVTRVJfR1JPVVBJRCI6IiIsIlVTRVJfSVAiOiI2MS4yMjAuMTc5LjE4NyIsIlRYVElNRSI6IjIwMjQxMDE3MTA0NDE3IiwiRVhURU5TSU9OIjoiIiwiUDk5X0lORk8iOiIiLCJQUk9NT19DT0RFIjoiIiwiUk1TRyI6IlBJTl9JU19VU0VEIiwiUk1TR19DSEkiOiJcdTUxMzJcdTUwM2NcdTViYzZcdTc4YmNcdTVkZjJcdTRmN2ZcdTc1MjgiLCJQSFNfQ0hBTk5FTF9JRCI6IiIsIlBIU19DT01QQU5ZX0lEIjoiIiwiRVJQQyI6IlROTVwvSWJMSTRMQ2wxKzVFMjVDbGwxa0xaTkU9In0=", "COID": "KW20241017024416", "AMOUNT": "3500", "PAY_STATUS": "S", "CreateTime_at": "2024-08-15 12:11:06", "RMSG_CHI": "訊息處理成功", "LanguageList": { "en_US": "English", "zh_TW": "\u4e2d\u6587","ja_JP": "日本語"}, "StringID": {
                    "en_US": {
                "WL_POINT": "Point",
                "WL_TAB_TOPUP": "Top Up",
                "WL_RETURN_TITLE": "Top-up Result",
                "WL_NOTIFY_TITLE_S": "Success! Top-up Completed",
                "WL_NOTIFY_TITLE_F": "Top-up Failed",
                "WL_AMOUNT_TITLE": "Amount",
                "WL_COID_TITLE": "Order ID",
                "WL_DATE_TITLE": "Date",
                "WL_RMSG_CHI_TITLE": "Order Status",
                "WL_BACK_HOME_BTN": "Back to Overview",
                "WL_LOGOUT":"LOGOUT",
            },
            "zh_TW": {
                "WL_POINT": "點",
                "WL_TAB_TOPUP": "儲值",
                "WL_RETURN_TITLE": "儲值結果",
                "WL_NOTIFY_TITLE_S": "恭喜！儲值成功",
                "WL_NOTIFY_TITLE_F": "儲值失敗",
                "WL_AMOUNT_TITLE": "儲值面額",
                "WL_COID_TITLE": "訂單編號",
                "WL_DATE_TITLE": "儲值日期",
                "WL_RMSG_CHI_TITLE": "訂單狀態",
                "WL_BACK_HOME_BTN": "回總覽",
                "WL_LOGOUT":"登出",
            },
            "ja_JP": {
                "WL_POINT": "ポイント",
                "WL_TAB_TOPUP": "チャージ",
                "WL_RETURN_TITLE":"チャージ結果",
                "WL_NOTIFY_TITLE_S":"おめでとうございます！チャージ成功",
                "WL_NOTIFY_TITLE_F":"チャージ失敗",
                "WL_AMOUNT_TITLE":"チャージ金額",
                "WL_COID_TITLE":"注文番号",
                "WL_DATE_TITLE":"チャージ日時",
                "WL_RMSG_CHI_TITLE":"注文ステータス",
                "WL_BACK_HOME_BTN":"概要へ戻る",
                "WL_LOGOUT":"ログアウト",
            }

                } });
    </script>
</body>

</html>