<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="google" content="notranslate" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<title>P99 BECKEND</title>
<link rel="icon" href="<%- cdn %>/favicon.png">
<link rel="icon" href="<%- cdn %>/favicon.ico">
<script src="<%- cdn %>/assets/js/jquery-3.7.1.min.js"></script>

<link rel="stylesheet" href="<%- cdn %>/assets/css/reset.css">
<link rel="stylesheet" href="<%- cdn %>/assets/css/bootstrap-grid.css">
<link rel="stylesheet" href="<%- cdn %>/assets/css/select2.min.css" />
<link rel="stylesheet" type="text/css" href="<%- cdn %>/assets/css/daterangepicker.css" />

<script src="<%- cdn %>/assets/js/main.js"></script>
<script src="<%- cdn %>/assets/js/translate.js"></script>
<script src="<%- cdn %>/assets/js/loadingoverlay.min.js"></script>
<script src="<%- cdn %>/assets/js/jquery.sidr.min.js"></script>
<script src="<%- cdn %>/assets/js/shim.min.js"></script>
<script src="<%- cdn %>/assets/js/xlsx.bundle.js"></script>
<script type="text/javascript" src="<%- cdn %>/assets/js/moment.min.js"></script>
<script type="text/javascript" src="<%- cdn %>/assets/js/daterangepicker.min.js"></script>

<link rel="stylesheet" href="<%- cdn %>/assets/css/choices.min.css" />
<script src="<%- cdn %>/assets/js/choices.min.js"></script>
<script src="<%- cdn %>/assets/js/pagination.min.js"></script>

<!-- <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css" /> -->

<link rel="stylesheet" href="<%- cdn %>/assets/css/p99Backend.css">

<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>